@using PagedList.Mvc;
@using TKM.BLL;
@model TKM.BLL.VanBanDiListView
@{
    //ViewBag.Title = "Báo cáo kết quả thực hiện nhiệm vụ";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Nam = (int)ViewBag.Nam;
    var VBDi = (int)ViewBag.VBDi;
}
<link href="~/Assets/css/print.css" rel="stylesheet" />
@section Css {
    <style>

        .col-lab {
            padding-left: 10px;
            font-size: 16px;
            padding-top: 20px;
            width: 15%;
        }

        .col-text {
            padding-right: 10px;
            padding-top: 20px;
            width: 35%;
        }

        .col-txt {
            text-align: left;
        }

        .col-txt1 {
            text-align: left;
            font-weight: bold;
        }

        .col-Number {
            color: red;
        }
    </style>
}
<div class="row">
    <div class="col right-content">

        <div class="row">
            <div class="col">
                <!-- Classic tabs -->
                <div class="classic-tabs tabs-f-cl mx-2">
                    <div class="tab-content py-0 card" id="myClassicTabContentShadow">
                        <div class="tab-pane fade active show" id="vb-lt-den" role="tabpanel" aria-labelledby="profile-tab-classic-shadow">
                            @{Html.RenderAction("SelectLoaiBaoCao", "BaoCaoThongKe", new { LoaiBaoCao = 1 });}

                            <div class="row mt-3">
                                <div class="col-md-9 fwb">
                                    Tìm kiếm văn bản
                                </div>
                                <div class="col-md-3 text-right">
                                    <button class="btn btn-sm btn-warning text-white ml-3 rounded-pill" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="collapse" id="collapseExample">
                                @*<input type="hidden" name="dvID" id="dvID" value="@SessionInfo.CurrentUser.DonViID" />*@

                                <div class="col-12 col-lg-12 row p-2">
                                    <label for="txtLoaiThongKe" class="col-sm-2 col-form-label">Thống kê theo năm</label>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <select class="mdb-select md-form md-outline colorful-select dropdown-primary m-0 p-0" id="LoaiBaoCao" searchable="Nhập từ khóa..">
                                                @{
                                                    <option value="0">--Chọn năm--</option>
                                                    for (int i = DateTime.Now.Year; i >= 1990; i--)
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <label for="VBDi" class="col-lg-2 col-form-label">Thống kê theo loại VB đi</label>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <select class="mdb-select md-form md-outline colorful-select dropdown-primary m-0 p-0" id="VBDi" searchable="Nhập từ khóa..">
                                                @{
                                                    <option value="0">--Chọn loại văn bản đi--</option>
                                                    <option value="1">Văn bản thường</option>
                                                    <option value="2">Văn bản điện tử</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                @*<div class="row bg-white mx-0 p-3">
                                    <div class="col-12 col-lg-12 row">
                                        <label for="txtLoaiThongKe" class="col-sm-2 col-form-label">Thống kê theo năm</label>
                                        <div class="col-lg-4">
                                            <select class="mdb-select md-form md-outline colorful-select dropdown-primary m-0 p-0" id="LoaiBaoCao" searchable="Nhập từ khóa..">
                                                @{
                                                    <option value="0">--Chọn năm--</option>
                                                    for (int i = DateTime.Now.Year; i >= 1990; i--)
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                }
                                            </select>
                                        </div>*@

                                        @*<div class="col-md-3">
                                            <div class="form-check form-check-inline px-3 my-3">
                                                <input type="checkbox" class="form-check-input" id="VBThuong" name="VBThuong" value="1" checked>
                                                <label class="form-check-label" for="VBThuong">Thống kê văn bản thường</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-check form-check-inline px-3 my-3">
                                                <input type="checkbox" class="form-check-input" id="VBDienTu" name="VBDienTu" value="1" checked>
                                                <label class="form-check-label" for="VBDienTu">Thống kê văn bản điện tử</label>
                                            </div>
                                        </div>
                                    </div>*@

                                    <div class="w-100"></div>

                                    <div class="col text-center text-lg-right">
                                        <button id="btnSearch" class="btn text-white f-bg1" type="button">Tìm kiếm</button>
                                    </div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <a href="javascript://" onclick="InBrowserVanBanDen()" class="btn-floating btn-sm btn-info mx-1" data-toggle="tooltip" title="In Browser" data-original-title="In Browser"><i class="fal fa-print"></i></a>
                                    <a href="/BaoCaoThongKe/ExportWordThongKeVanBanDiDen" class="btn-floating btn-sm btn-primary mx-1" data-toggle="tooltip" data-original-title="Xuất Word" title="Xuất Word"><i class="fal fa-file-word"></i></a>
                                    <a href="/BaoCaoThongKe/ExportExcelThongKeVanBanDiDen" class="btn-floating btn-sm btn-success mx-1" data-toggle="tooltip" title="Xuất Excel" data-original-title="Xuất Excel"><i class="fal fa-file-excel"></i></a>
                                    <a href="javascript://" onclick="XuatPDF();" class="btn-floating btn-sm btn-warning mx-1" data-toggle="tooltip" data-original-title="Xuất PDF" title="Xuất PDF"><i class="fal fa-file-pdf"></i></a>
                                </div>
                            </div>
                            <div class="w-100"></div>

                            <div class="row" id="table-print">
                                <div class="col-12">
                                    <div style="padding-bottom: 20px;overflow-x:auto;" class="table-responsive-sm">
                                        <table class="table table-hover table-bordered table_pdf" cellspacing="0" width="100%" id="reloadTableTK">
                                            @{ Html.RenderAction("ReloadThongKeVanBanDiDen", "BaoCaoThongKe",new { Nam = Nam }); }
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form action="/BaoCaoThongKe/ExportPDFThongKeVanBanDiDen" method="post" id="ExportPDF" style="display: none">
    <input type="hidden" name="tenFilePDF" id="tenFilePDF" value="ExportPDFThongKeVanBanDiDen" />
    <input type="hidden" name="widthTable" id="widthTable" value="" />
    <textarea name="GridHtml" id="GridHtml"></textarea>
    <input type="submit" />
</form>
<style>
    .select2 {
        padding-top: 5px !important;
    }
</style>
<style>

</style>
<link href="~/Assets/css/print.css" rel="stylesheet" />
@section Script {
    <script src="~/Assets/js/print.js"></script>
    <script>
        setInterval(function () { $(".pagination-ys").show(); }, 1000);
        $(document).ready(function () {
            InitClickCheckAllInTable("chkall", function (res) {
                $("#hdfID").val(res);
            });
            $('.select2').select2();
            //loadPaging();
        });
        function XuatPDF() {
            var widthtable = 1024;
            if (widthtable < 800) widthtable = 1024;
            $('#widthTable').val(parseInt(widthtable));
            $('#tenFilePDF').val("Thong_Ke_Van_Ban_Den_Di");
            $(".pagination-ys").hide();
            var style = '<style>.table_pdf th,.table_pdf td { border: none !important;border-left: 1px solid #000 !important;border-top: 1px solid #000 !important;padding: 5px;}.table_pdf tr:nth-child(2) th {font-weight: normal;}.table_pdf {border-bottom: 1px solid #000;border-right: 1px solid #000;border-spacing: 0;}            table th,table td{ vertical-align: middle; }table thead tr{ background: #f1f1f1 !important; }.table_pdf>tbody>tr>td, .table_pdf>tbody>tr>th, .table_pdf>tfoot>tr>td, .table_pdf>tfoot>tr>th, .table_pdf>thead>tr>td, .table_pdf>thead>tr>th {border: 1px solid #ddd;}.text-center,.tac{text-align:center !important}</style>';
            var GridHtml = $("#table-print").html() + style;
            $("#GridHtml").val(GridHtml);
            $("#ExportPDF").submit();
            return false;
        }

        $(".keyenter").on("keypress", function (e) {
            if (e.which == 13) {
                $("#btnSearch").click();
            }
        });

        $("#btnSearch").click(function () {
            $("#loading").show();
            $.ajax({
                type: "GET",
                url: '@Url.Action("ReloadThongKeVanBanDiDen", "BaoCaoThongKe")',
                data: { Nam: $("#Nam").val(), VBDi: $("#VBDi").val() },
                dataType: "html",
                success: function (response) {
                    $("#loading").hide();
                    $("#reloadTableTK").html(response);
                },
                error: function (response) {
                    swal("Đã có lỗi xảy ra", { icon: "error", });
                    $("#loading").hide();
                }
            });
        });

    </script>
}




