@using TKM.BLL
@model QuyenViewModel
@{
    Layout = null;
    var tenQuyenCha = (string)ViewBag.tenQuyenCha;
}
<div class="form-group">
    <div class="row">
        <div class="col-md-3 text-right">
            <label class="fwb">Thuộc quyền: </label>
        </div>
        <div class="col-md-9">
          @tenQuyenCha
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-3 text-right">
            <label class="fwb">Tên quyền: </label>
        </div>
        <div class="col-md-9">
            @(Model!=null ? Model.TenQuyen:"")
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-3 text-right">
            <label class="fwb">Controller: </label>
        </div>
        <div class="col-md-9">
            @(Model != null ? Model.Controller : "")
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-3 text-right">
            <label class="fwb">Action: </label>
        </div>
        <div class="col-md-9">
            @(Model != null ? Model.Action : "")
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-3 text-right">
            <label class="fwb">Ghi chú: </label>
        </div>
        <div class="col-md-9">
            @(Model != null ? Model.GhiChu : "")
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-3 text-right">
            <label class="fwb">Hiển thị menu: </label>
        </div>
        <div class="col-md-9">
            @Html.Raw(Model.IsMenu == true ? "<span class='badge badge-success'>Có</span>" : "<span class='badge badge-danger'>Không</span>")
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-3 text-right">
            <label class="fwb">Thứ tự: </label>
        </div>
        <div class="col-md-9">
            @Model.ThuTu
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-3 text-right">
            <label class="fwb">Trạng thái: </label>
        </div>
        <div class="col-md-9">
            @Html.Raw(Model != null && Model.TrangThai == true ? "<span class='badge badge-success'>Có Sử dụng</span>" : "<span class='badge badge-danger'>Không sử dụng</span>")
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
        </div>
    </div>

</div>