@using TKM.BLL
@model DmChucVuViewModel
@{
    Layout = null;
}

@*<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <label>Danh mục blog: </label>
        </div>
        <div class="col-md-9">
            @(objBlog?.TenDanhMucCha)
        </div>
    </div>
</div>*@
<div class="form-group">
    <div class="row">
        <div class="col-md-3 text-right">
            <label class="fwb">Tên chức vụ: </label>
        </div>
        <div class="col-md-9">
            @(Model!=null ? Model.TenChucVu:"")
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-3 text-right">
            <label class="fwb">Ký hiệu: </label>
        </div>
        <div class="col-md-9">
            @(Model != null ? Model.KyHieu : "")
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-3 text-right">
            <label class="fwb">Thứ tự: </label>
        </div>
        <div class="col-md-9">
            @Model.ThuTu
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-3 text-right">
            <label class="fwb">Trạng thái: </label>
        </div>
        <div class="col-md-9">
            @Html.Raw(Model != null && Model.TrangThai == true ? "<span class='badge badge-success'>Có Sử dụng</span>" : "<span class='badge badge-danger'>Không sử dụng</span>")
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
        </div>
    </div>

</div>