@model TKM.BLL.TuDienVietHoaViewModel
@using TKM.BLL

@{
    ViewBag.Title = "Thêm mới từ điển Việt hóa";
    var lstNguoiDung = (List<TKM.BLL.NguoiDungViewModel>)ViewBag.lstNguoiDung;
}
<div class="row">
    <div class="col right-content">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 fwb">
                        <li class="breadcrumb-item"><a href="/Home"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="/TuDienVietHoa/Index">Quản lý từ điển Việt hóa</a></li>
                        <li class="breadcrumb-item">@ViewBag.Title</li>
                    </ol>
                </nav>
            </div>
        </div>
        @if (TempData["AlertData"] != null)
            { <div class="alert @TempData["AlertType"]">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>@Html.Raw(@TempData["AlertData"])</strong>
            <a id="lblMessage"></a>
        </div>

        }
        <div class="row">
            <div class="col">
                <!-- Classic tabs -->
                <div class="classic-tabs tabs-f-cl mx-2">
                    <div class="tab-content py-0 card" id="myClassicTabContentShadow">
                        <div class="tab-pane fade active show pt20" id="vb-lt-den" role="tabpanel" aria-labelledby="profile-tab-classic-shadow">

                            @using (Html.BeginForm("Add", "TuDienVietHoa", null, FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
                            {

                                @Html.AntiForgeryToken()

                                <div class="form-group row">
                                    <label for="TenNhom" class="col-sm-2 col-form-label pr-0">Cụm từ khóa</label>
                                    <div class="col-sm-4">
                                        @Html.TextAreaFor(model => model.CumTuKhoa, new { @class = "form-control ", @id = "CumTuKhoa", @rows="10" })
                                        @Html.ValidationMessageFor(model => model.CumTuKhoa, "", new { @class = "alert-danger" })
                                    </div>
                                    <label for="ddlListNguoiDungThuocNhomID" class="col-sm-2 col-form-label">Cụm từ thay đổi</label>
                                    <div class="col-sm-4">
                                        @Html.TextAreaFor(model => model.CumTuThayDoi, new { @class = "form-control ", @id = "CumTuThayDoi", @rows = "10" })
                                        @Html.ValidationMessageFor(model => model.CumTuThayDoi, "", new { @class = "alert-danger" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="text-right col-sm-12">
                                        <button type="submit" class="btn btn-primary">Lưu</button>
                                        <a class="btn cur-p btn-light" href="/TuDienVietHoa/Index">Hủy bỏ</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    span.select2 {
        padding-top: 4px;
    }
</style>
