@using PagedList.Mvc;
@model TKM.BLL.v_InSoVanBanDenListView
    @{ 
        var pagesize = Model.PageSize;
        var totalPageNumber = Model.TotalItem / pagesize;
        if (Model.TotalItem % pagesize != 0)
        {
            totalPageNumber = totalPageNumber + 1;
        }
var typeUser = (string)ViewBag.typeUser;
    }
<input type="hidden" id="txtTotal" value="@Model.TotalItem" />
<input type="hidden" id="txtPageNumber" value="@Model.PageNumber" />
@if (Model != null && Model.lstVanBanDen != null && Model.lstVanBanDen.Count() > 0)
{
    var index = Model.PageSize.Value * (Model.PageNumber.Value - 1);
    foreach (var item in Model.lstVanBanDen)
    {
        index++;
        <tr>
            @*<td align="center">@index</td>*@
            <td align="center">@TKM.Utils.ConvertDateTime.ConvertDateTimeToString(item.NgayDen)</td>
            @if (SessionInfo.CurrentUser.TypeUser.Equals("vtdv"))
            {
                <td class="tac">@item.SoDenVanBanTaiCuc</td>
                <td class="tac">@item.SoDenVanBan</td>
            }
            else
            {
                <td class="tac">@item.SoDenCuc.ToString()</td>
            }
            @*<td class="tac">@(typeUser.Equals("vtc") ? item.SoDenCuc.ToString() : typeUser.Equals("vtdv") ? (item.SoDenVanBanTaiCuc != null ? item.SoDenVanBan.ToString() + "/" + item.SoDenVanBanTaiCuc.ToString() : item.SoDenVanBan.ToString()) : null)</td>*@
            <td class="tal">@item.CoQuanBanHanh</td>
            <td class="tal">@item.SoKyHieu</td>
            <td align="center">@TKM.Utils.ConvertDateTime.ConvertDateTimeToString(item.NgayVanBan)</td>
            <td class="tal" id="addColorTextForA">
                @Html.Raw(item.TenLoaiVanBan)

                @Html.Raw(!string.IsNullOrEmpty(item.TrichYeu) ? "</br>" + item.TrichYeu : "")
                @*<a href="/VanBanDen/Detail/@item.ID?tab=@Model.tab" class="f-hov1 h-tdu text-primary" data-toggle="tooltip" title="Xem chi tiết">@item.TrichYeu</a>*@
            </td>
            <td class="tal">
                @Html.Raw(item.GhiChu)
            </td>
            <td class="tal">
                @*@Html.Raw(item.NguoiKy)*@
            </td>
            <td class="tal">
                @*@Html.Raw(item.GhiChu)*@
            </td>

        </tr>
    }

}
@if (Model != null && Model.lstVanBanDen == null || Model.lstVanBanDen.Count == 0)
{
    <tr>
        <td colspan="12" class="text-center c-red-500"><b>Dữ liệu không tồn tại</b></td>
    </tr>
}
else
{
    <tr class="pagination-ys" align="left">
        <td colspan="12">
            <div class="row col-md-12 p-0 m-0">
                <div class="col-md-6">
                    @Html.PagedListPager((PagedList.IPagedList<int>)ViewBag.PagedList, pnum => Url.Action("InSoVanBanListData", "VanBanDen", new
               {
                   ColumnName = Model.ColumnName, OrderBy = Model.OrderBy, PageNumber = pnum,
                   PageSize = Model.PageSize,
                   TuKhoa = Model.TuKhoa,
                   PhamViTimKiem = Model.PhamViTimKiem,
                   SoVanBanDenID = Model.SoVanBanDenID,
                   NamVaoSo = Model.NamVaoSo,
                   DonViNhanID = Model.DonViNhanID,
                   TuSo = Model.TuSo,
                   DenSo = Model.DenSo,
                   LoaiVanBanID = Model.LoaiVanBanID,
                   CoQuanBanHanhID = Model.CoQuanBanHanhID,
                   TuNgayND = Model.TuNgayND,
                   DenNgayND = Model.DenNgayND,
                   TuNgayNVB = Model.TuNgayNVB,
                   DenNgayNVB = Model.DenNgayNVB,
                   tab = Model.tab,

               }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.MinimalWithPageCountText, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "tbKetQua", OnComplete = "loadPaging();" }))
                </div>
                <div class="col-md-6 text-right pt-2">
                    Hiển thị: @Html.DropDownListFor(m => m.PageSize, new List<SelectListItem>() {
                        new SelectListItem() { Value = "10", Text = "10"},
                         new SelectListItem() { Value = "20", Text = "20", Selected=true},
                         new SelectListItem() { Value = "50", Text = "50"},
                         new SelectListItem() { Value = "100", Text = "100"},
                         new SelectListItem() { Value = "10000", Text = "Tất cả"}
                     }, new { @id = "changePageSize", @class = "custext w-60", @onchange = "loadData('', '');" }) kết quả trên 1 trang / @Model.TotalItem văn bản
                </div>
            </div>
        </td>
    </tr>
}

