@using TKM.BLL
@*@model VanBanDenViewModel*@
@{
    Layout = null;
    var lstLanhDaoChiDao = (List<TKM.BLL.NguoiDungViewModel>)ViewBag.lstLanhDaoChiDao;
    var lstDonVi = (List<TKM.BLL.DmDonViViewModel>)ViewBag.lstDonVi;
    var objVanBanDen = (VanBanDenViewModel)ViewBag.objVanBanDen;
    var typeUser = (string)ViewBag.typeUser;
    var capBac = (string)ViewBag.capBac;
}
@*<div class="row">
    <div class="col-sm-6 row">
        <label class="col-sm-4 col-form-label" for="DonViNhanID">
            Đơn vị xử lý chính <span class="c-red-500">(*)</span>
        </label>
        <select class="mdb-select mdb-select-csa md-form col-sm-8 md-outline colorful-select dropdown-primary m-0 p-0" id="DonViNhanID" name="DonViNhanID" searchable="Nhập từ khóa.." @(capBac.Equals("pho") ? "disabled='true'" : "")>
            <option value="">-- Chọn đơn vị --</option>
            @if (lstDonVi != null && lstDonVi.Count > 0)
            {
                foreach (var item in lstDonVi)
                {
                    <option value="@item.ID" @(capBac.Equals("pho") && objVanBanDen.DonViNhanID == item.ID ? "selected" : "")>@string.Format(item.TenDonVi + " (" + item.KyHieu + ")")</option>
                }
            }
        </select>

    </div>
    <div class="col-sm-6 row">
        <label class="col-sm-4 col-form-label" for="ListDonViPhoiHopID">
            Đơn vị phối hợp xử lý
        </label>
        <div id="reloadListDonViPhoiHop" class="pl-0 pr-0 col-sm-8">
            <select class="mdb-select md-form md-outline colorful-select dropdown-primary m-0 p-0" name="ListDonViPhoiHopID" id="ListDonViPhoiHopID" multiple searchable="Chọn đơn vị...">
                <option value="" disabled selected>-- Chọn đơn vị --</option>
                @if (lstDonVi != null && lstDonVi.Count > 0)
                {
                    foreach (var item in lstDonVi.Where(x => x.ID != objVanBanDen.DonViNhanID))
                    {
                        <option value="@item.ID" @(objVanBanDen != null && !string.IsNullOrEmpty(objVanBanDen.ListDonViPhoiHopID) && objVanBanDen.ListDonViPhoiHopID.Contains("," + item.ID + ",") ? "selected" : "")>@string.Format(item.TenDonVi + " (" + item.KyHieu + ")")</option>
                    }
                }
            </select>
        </div>

    </div>
</div>*@
<div class="form-group row">
    <label for="DonViNhanID" class="col-sm-2 col-form-label">Đơn vị xử lý chính <span class="c-red-500">(*)</span></label>
    <div class="col-sm-4">
        <select class="mdb-select mdb-select-csa md-form col-sm-8 md-outline colorful-select dropdown-primary m-0 p-0" id="DonViNhanID" name="DonViNhanID" searchable="Nhập từ khóa.." @(objVanBanDen.LanhDaoButPheCucID > 0  ? "disabled='true'" : "")>
            <option value="">-- Chọn đơn vị --</option>
            @if (lstDonVi != null && lstDonVi.Count > 0)
            {
                foreach (var item in lstDonVi)
                {
                    <option value="@item.ID" @(objVanBanDen.LanhDaoButPheCucID > 0 && objVanBanDen.DonViNhanID == item.ID ? "selected" : "")>@string.Format(item.TenDonVi + " (" + item.KyHieu + ")")</option>
                }
            }
        </select>
    </div>
    <label for="ListDonViPhoiHopID" class="col-sm-2 col-form-label">Đơn vị phối hợp xử lý</label>
    <div class="col-sm-4">
        <div id="reloadListDonViPhoiHop">
            <select class="mdb-select md-form md-outline colorful-select dropdown-primary m-0 p-0" name="ListDonViPhoiHopID" id="ListDonViPhoiHopID" multiple searchable="Chọn đơn vị...">
                <option value="" disabled selected>-- Chọn đơn vị --</option>
                @if (lstDonVi != null && lstDonVi.Count > 0)
            {
                foreach (var item in lstDonVi.Where(x => x.ID != objVanBanDen.DonViNhanID))
                {
                        <option value="@item.ID" @(objVanBanDen != null && !string.IsNullOrEmpty(objVanBanDen.ListDonViPhoiHopID) && objVanBanDen.ListDonViPhoiHopID.Contains("," + item.ID + ",") ? "selected" : "")>@string.Format(item.TenDonVi + " (" + item.KyHieu + ")")</option>
                    }
                }
            </select>
            </div>
        </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label" for="LanhDaoChiDaoCucID">
        Lãnh đạo cục@*<span class="c-red-500">(*)</span>*@
    </label>
    <div class="col-sm-10">
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td class="fwb">Chỉ đạo</td>
                    <td class="fwb">Theo dõi</td>
                </tr>
            </thead>
            @if (lstLanhDaoChiDao != null && lstLanhDaoChiDao.Count > 0)
            {
                <tbody>
                @foreach (var item in lstLanhDaoChiDao)
                {
                    <tr>
                        <td class="fwb">@item.ChucVuVaTen</td>
                        <td>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="LanhDaoChiDao_@item.ID" name="LanhDaoChiDaoCucID" value="@item.ID" @(objVanBanDen.LanhDaoButPheCucID > 0 ? "disabled" : "") @(objVanBanDen.LanhDaoButPheCucID > 0 && objVanBanDen.LanhDaoChiDaoCucID == item.ID ? "checked" : "")>
                                <label class="form-check-label" for="LanhDaoChiDao_@item.ID"></label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline px-3">
                                <input type="checkbox" name="LstLanhDaoTheoDoiCucID" class="form-check-input" id="LanhDaoTheoDoi_@item.ID" @(objVanBanDen.LanhDaoButPheCucID > 0 ? "disabled" : "") @(objVanBanDen.LanhDaoButPheCucID > 0 && !string.IsNullOrEmpty(objVanBanDen.LstLanhDaoTheoDoiCucID) && objVanBanDen.LstLanhDaoTheoDoiCucID.Contains(item.ID.ToString()) ? "checked" : "") value="@item.ID">
                                <label class="form-check-label" for="LanhDaoTheoDoi_@item.ID"></label>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
            }
        </table>
        @*@if (lstLanhDaoChiDao != null && lstLanhDaoChiDao.Count > 0)
        {
            foreach (var item in lstLanhDaoChiDao)
            {
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="LanhDaoChiDao_@item.ID" name="LanhDaoChiDaoCucID" value="@item.ID" @(capBac.Equals("pho") ? "disabled" : "") @(capBac.Equals("pho") && objVanBanDen.LanhDaoChiDaoCucID == item.ID ? "checked" : "")>
                    <label class="form-check-label" for="LanhDaoChiDao_@item.ID">@item.ChucVuVaTen</label>
                </div>
            }
        }*@
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label" for="YKienXuLy">
        Ý kiến xử lý
    </label>
    <div class="col-sm-10">
        @Html.TextArea("NoiDungYKien", null, new { @class = "form-control rounded-0", @id = "NoiDungYKien", @placeholder = "Ý kiến xử lý...", @rows = "3" })
    </div>
</div>
@if (capBac != "pho")
{

    @*<div class="form-group row">
        <div class="col-sm-6">
            <div class="md-form">
                @Html.TextBox("HanXuLyStr", null, new { @class = "form-control datepicker", @id = "HanXuLyStr", @placeholder = "Chọn ngày" })
                <label for="HanXuLyStr" class="active">Hạn xử lý</label>
            </div>
        </div>
    </div>*@
}

<div class="row">
    <label class="col-sm-2 col-form-label">
        File đính kèm
    </label>
    <div class="col-sm-10">
        @*@Html.TextBoxFor(m=> objVanBanDen.Files, new { @id = "txtFile", @type = "file", @multiple = "multiple", @onclick = "IsSubmit();" })*@
        @Html.Partial("~/Views/Shared/_JqueryUpload.cshtml", new { changeName = true, auto = true, Name = "Attachment", Multiple = true, Value = "", type = "document", setname = "AttachmentName", valueName = "", setSize = "Size", valueSize = "", intFolder = 0 })
    </div>
</div>

<div class="row text-left">
    <div class="col-sm-12">
        <div class="form-check form-check-inline px-3 my-3">
            <input type="checkbox" name="IsGuiSMS" class="form-check-input" id="IsGuiSMS" value="true">
            <label class="form-check-label" for="IsGuiSMS">Gửi Sms</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="checkbox" name="IsGuiEmail" class="form-check-input" id="IsGuiEmail" value="true">
            <label class="form-check-label" for="IsGuiEmail">Gửi Email</label>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.datepicker').pickadate({
            monthsFull: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10',
            'Tháng 11', 'Tháng 12'],
            monthsShort: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
            weekdaysFull: ['Chủ nhật', 'Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7'],
            weekdaysShort: ['CN', '2', '3', '4', '5', '6', '7'],
            showMonthsShort: undefined,
            showWeekdaysFull: undefined,

            // Buttons
            today: 'Hôm nay',
            clear: 'Xóa',
            close: 'Đóng',

            // Accessibility labels
            labelMonthNext: 'Tháng sau',
            labelMonthPrev: 'Tháng trước',
            labelMonthSelect: 'Chọn tháng',
            labelYearSelect: 'Chọn năm',

            // Formats
            format: 'dd/mm/yyyy',
            formatSubmit: undefined,
            hiddenPrefix: undefined,
            hiddenSuffix: '_submit',
            hiddenName: undefined,

        });
    });
    $('#DonViNhanID').on('change', function () {
        var value = $(this).val();
        if (value == '' || value == '0') {
            toastr.error("Bạn chưa chọn đơn vị xử lý chính!");
        } else {
            $.ajax({
                type: "GET",
                url: '/VanBanDen/ReloadListDonViPhoiHop',
                data: { id: value,vbid : @objVanBanDen.ID,lstdonviphid : ','+$('#ListDonViPhoiHopID').val().toString()+','},
                dataType: "html",
                success: function (res) {
                    $('#reloadListDonViPhoiHop').html(res);
                },
                error: function (response) {
                    toastr.error("Đã có lỗi xảy ra");
                }
            });
        }

    })
</script>
