@using PagedList.Mvc;
@model TKM.BLL.LichLanhDaoListView
@{
    ViewBag.Title = "Danh sách lịch lãnh đạo";
}
@section Css {
    <style></style>
}
<div class="row">
    <div class="col right-content">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 fwb">
                        <li class="breadcrumb-item"><a href="/Home"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="/LichLanhDao/Index">@ViewBag.Title</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        @if (TempData["AlertData"] != null)
            {
            <div class="alert @TempData["AlertType"]">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>@Html.Raw(TempData["AlertData"])</strong>
                <a id="lblMessage"></a>
            </div>
        }
        <div class="row">
            <div class="col">
                <!-- Classic tabs -->
                <div class="classic-tabs tabs-f-cl mx-2">
                    <div class="tab-content py-0 card" id="myClassicTabContentShadow">
                        <div class="tab-pane fade active show" id="vb-lt-den" role="tabpanel" aria-labelledby="profile-tab-classic-shadow">
                            <div class="row lighten-4">
                                <div class="col p-3">
                                    <div class="d-none d-lg-inline-flex form-inline md-form my-0 px-lg-3 border-right">
                                        @Html.TextBoxFor(model => model.TuKhoa, new { @class = "form-control keyenterTuKhoa", @id = "txtTuKhoa", @placeholder = "Nhập từ khóa cần tìm ...", @style = "min-width: 31rem" })
                                        <button id="btnSearchTuKhoa" class="btn text-white default-color rounded-pill px-3 btn-sm my-0 waves-effect waves-light" type="button">Tìm</button>
                                    </div>

                                    <button class="btn btn-sm btn-warning text-white ml-3 rounded-pill" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                        Tìm kiếm nâng cao
                                    </button>
                                    <!-- Chức năng thêm và xóa -->
                                    <div class="float-right">
                                        <a href="/LichLanhDao/Add" class="btn-floating btn-sm btn-primary mx-1" data-toggle="tooltip" title="Thêm mới" data-original-title="Thêm mới"><i class="fal fa-plus"></i></a>
                                        @*<a href="javascript://" onclick="onDeleteMul();" class="btn-floating btn-sm btn-danger mx-1" data-toggle="tooltip" data-original-title="Xóa nhiều" title="Xóa nhiều"><i class="fal fa-trash"></i></a>*@
                                    </div>
                                    <div style="clear:both;"></div>
                                    <!-- Collapsible element -->
                                    <div class="collapse" id="collapseExample">
                                       <div class="form-group row mb-0 mt-4">
                                            <label for="ddlNguoiDung" class="col-sm-2 col-form-label">Lãnh đạo <span class="c-red-500">(*)</span></label>
                                            <div class="col-sm-4">
                                                @Html.DropDownListFor(model => model.NguoiDungID, new SelectList(Model.LstNguoiDung, "ID", "ChucVuVaTen"), "--- Chọn lãnh đạo ---", new { @class = "mdb-select md-form md-outline colorful-select dropdown-primary m-0 p-0", @id = "ddlNguoiDung", @searchable = "Nhập từ khóa.." })
                                            </div>
                                           <label for="ThoiGian" class="col-sm-2 col-form-label">Thời gian <span class="c-red-500">(*)</span></label>
                                           <div class="col-sm-4">
                                               @Html.DropDownListFor(model => model.ThoiGian, new SelectList(Model.LstThoiGian.Where(x=>x.Value != 0), "Value", "Text"), "--- Chọn thời gian ---", new { @class = "mdb-select md-form md-outline colorful-select dropdown-primary m-0 p-0", @id = "ThoiGian", @searchable = "Nhập từ khóa.." })
                                           </div>
                                            
                                        </div>
                                        <div class="form-group row mb-0 mt-4">
                                            <label class="col-form-label col-sm-2">Thời gian từ </label>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="input-group date datepicker">
                                                        @Html.TextBoxFor(model => model.ThoiGianBatDauStr, new { @class = "form-control keyenter", @id = "ThoiGianBatDauStr" })
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-clock"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <label class="col-form-label col-sm-2"> đến </label>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="input-group date datepicker">
                                                        @Html.TextBoxFor(model => model.ThoiGianKetThucStr, new { @class = "form-control keyenter", @id = "ThoiGianKetThucStr" })
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-clock"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            <div class="row bg-white mx-0">
                                                <div class="w-100"></div>
                                                <div class="col text-center text-lg-right">
                                                    <button id="btnSearch" class="btn text-white f-bg1 my-4 mr-3" style="margin-top: 0 !important;" type="button">Tìm kiếm</button>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- / Collapsible element -->
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive-sm">
                                        <table id="dt-vblt-den" class="table table-hover table-bordered" cellspacing="0" width="100%">
                                            <thead class="bg-primary text-white lighten-3">
                                                <tr>

                                                    <th class="t_action th-sm" style="width:60px">STT</th>
                                                    @* //Todo: Thêm colname + order by *@
                                                    <th class="th-sm pointer" style="width:170px" data-colname="TenLanhDao" data-orderby="asc">Lãnh đạo <span><i class="fas fa-sort"></i></span></th>
                                                    <th class="th-sm" style="width:90px">Thời gian</th>
                                                    <th class="th-sm pointer" style="width:150px" data-colname="ThoiGianBatDau" data-orderby="asc">Ngày <span><i class="fas fa-sort"></i></span></th>
                                                    @*<th class="th-sm pointer" style="width:150px" data-colname="ThoiGianKetThuc" data-orderby="asc">Thời gian kết thúc <span><i class="fas fa-sort"></i></span></th>*@
                                                    <th class="th-sm" style="min-width:250px">Nội dung</th>
                                                    <th class="th-sm" style="width:170px">Địa điểm</th>
                                                    @*<th class="th-sm">Chuẩn bị</th>*@
                                                    <th class="th-sm" style="width:170px">Thành phần</th>
                                                    @*<th class="th-sm" style="min-width:100px">Trạng thái</th>*@
                                                    <th class="th-sm t_action" style="width:140px">Chức năng</th>
                                                    @*<th class="th-sm" style="width:50px">
                                                        <input type="hidden" id="hdfID" />
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="chkall" name="checkbox">
                                                            <label class="form-check-label" for="chkall"></label>
                                                        </div>
                                                    </th>*@
                                                </tr>
                                            </thead>
                                            <tbody id="tbKetQua">
                                                @{ Html.RenderAction("IndexDetail", Model); }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Script {
    <script>
        $(document).ready(function () {
            InitClickCheckAllInTable("chkall", function (res) {
                $("#hdfID").val(res);
            });
        });
        function onChangeStatus(id) {
            swal({
                title: "Thay đổi trạng thái?",
                text: "Trạng thái sẽ được thay đổi, hãy nhấn OK!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: '/LichLanhDao/onChangeStatus',
                        data: { id: id },
                        dataType: "html",
                        success: function (res) {
                            res = JSON.parse(res);
                            if (res.isSuccess)
                                swal("Thay đổi trạng thái thành công!", {
                                    icon: "success",
                                });
                            else
                                swal("Có lỗi xảy ra", {
                                    icon: "error",
                                });
                            loadData("", "");
                        },
                        error: function (response) {
                            swal("Đã có lỗi xảy ra", { icon: "error", });
                        }
                    });

                }
            });
        }
        function loadfrmView(id) {
            modal.Render("/LichLanhDao/Detail/" + id, "Thông tin lịch lãnh đạo", "modal-lg");
        }
        function onDelete(id) {
            swal({
                title: "Xóa?",
                text: "Bạn có chắc chăn muốn xóa lịch lãnh đạo này?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
              .then((willDelete) => {
                  if (willDelete) {
                      $.ajax({
                          type: "POST",
                          url: '/LichLanhDao/Delete',
                          data: { id: id },
                          dataType: "html",
                          success: function (res) {
                              res = JSON.parse(res);
                              if (res.isSuccess == 1)
                                  swal("Xóa lịch lãnh đạo thành công!", {
                                      icon: "success",
                                  });
                              else
                                  swal("Đã có lỗi xảy ra", { icon: "error", });
                              loadData("", "");
                          },
                          error: function (response) {
                              swal("Đã có lỗi xảy ra", { icon: "error", });
                          }
                      });

                  }
              });
        }
        function onDeleteMul() {


            if ($("table tbody").find("input[type=checkbox]:checked").length == 0) {
                swal("Bạn cần chọn ít nhất 1 danh mục cần xóa", { icon: "error", });
            } else {
                swal({
                    title: "Xóa?",
                    text: "Bạn có chắc chăn muốn xóa những lịch lãnh đạo này?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
             .then((willDelete) => {
                 if (willDelete) {
                     $.ajax({
                         type: "POST",
                         url: '/LichLanhDao/DeleteMul',
                         data: { lstid: $("#hdfID").val() },
                         dataType: "html",
                         success: function (res) {
                             res = JSON.parse(res);
                             if (res.isSuccess)
                                 swal("Xóa thành công!", {
                                     icon: "success",
                                 });
                             else
                                 swal("Có lỗi xảy ra", {
                                     icon: "error",
                                 });
                             loadData("", "");
                         },
                         error: function (response) {
                             swal("Đã có lỗi xảy ra", { icon: "error", });
                         }
                     });

                 }
             });
            }
        }
        $(".keyenter").on("keypress", function (e) {
            if (e.which == 13) {
                $("#btnSearch").click();
            }
        });
        $(".keyenterTuKhoa").on("keypress", function (e) {
            if (e.which == 13) {
                $("#btnSearchTuKhoa").click();
            }
        });
        function setDeleteId(id) {
            $("#delModalId").val(id);
        };

        $("#btnDel").on("click", function () {
            $.ajax({
                url: '/LichLanhDao/DeleteLichLanhDao',
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ id: $("#delModalId").val() }),
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    location.reload();
                },
                error: function (xhr) {
                    swal("Đã có lỗi xảy ra", { icon: "error", });
                }
            });
            $(window).scrollTop(0);
        });

        //Thêm event xử lý load ajax
        $("#btnSearchTuKhoa").click(function () {
            
            $.ajax({
                type: "GET",
                url: '@Url.Action("IndexDetail", "LichLanhDao")',
                data: { TuKhoa: $("#txtTuKhoa").val(), KyHieu: $("#txtKyHieu").val(), TenChucVu: $("#txtTenChucVu").val(), srTrangThai: $("#srTrangThai").val(), ColumnName: "", OrderBy: "", PageNumber: 1, PageSize: $("#changePageSize").val() },
                dataType: "html",
                success: function (response) {

                    $("#tbKetQua").html(response);
                    loadPaging();
                },
                error: function (response) {
                    swal("Đã có lỗi xảy ra", { icon: "error", });
                }
            });
        });
        $("#btnSearch").click(function () {
            loadData("", "");
        });

        $("table th").click(function () {
            var col = $(this).data("colname");
            var orderby = $(this).data("orderby");
            if (col != "" && orderby != null) {
                loadData(col, orderby);
                if (orderby == "desc") orderby = "asc";
                else orderby = "desc";
                $(this).data("orderby", orderby);
            }
        });

        function loadData(col, order, pnum, psize) {
            $("#loading").show();
            $.ajax({
                type: "GET",
                url: '@Url.Action("IndexDetail", "LichLanhDao")',
                data: { TuKhoa: $("#txtTuKhoa").val(), NguoiDungID: $("#ddlNguoiDung").val(), ThoiGian: $("#ThoiGian").val(), ThoiGianBatDauStr: $("#ThoiGianBatDauStr").val(), ThoiGianKetThucStr: $("#ThoiGianKetThucStr").val(), ColumnName: col, OrderBy: order, PageNumber: pnum, PageSize: $("#changePageSize").val() },
                dataType: "html",
                success: function (response) {

                    $("#tbKetQua").html(response);
                    loadPaging();
                    $("#loading").hide();
                },
                error: function (response) {
                    swal("Đã có lỗi xảy ra", { icon: "error", });
                    $("#loading").hide();
                }
            });
        }
        function loadPaging() {
            var total = Math.ceil($("#txtTotal").val() / $("#changePageSize").val());
            var pnum = $("#txtPageNumber").val();
            $(".PagedList-pageCountAndLocation").removeClass("disabled");
            $(".PagedList-pageCountAndLocation").html("<a style=\"padding: 5px\"> Trang <input type=\"text\" id=\"pageNumber\" name=\"PageNunber\" value=\"" + pnum + "\" min=\"0\" style=\"width: 40px;\" onchange=\"onChangePageNunber($(this).val()," + total + ")\"> / " + total + "</a>");
        }

        //Nhảy trang
        function onChangePageNunber(pagenumber, totalpagesize) {

            var reg = /^[0-9]+$/;
            if (pagenumber.match(reg)) {
                if (pagenumber <= 0) {
                    swal("Giá trị của trang phải lớn hơn 0!", { icon: "error", });
                }
                else if (pagenumber > totalpagesize) {
                    swal("Bạn đã nhập quá số trang hiện có!", { icon: "error", });
                }
                else {
                    loadData("", "", pagenumber);
                }
            } else {
                swal("Bạn đã nhập sai định dạng số", { icon: "error", });
            }

        }
    </script>
}
