@using PagedList.Mvc;

@model TKM.BLL.BaoCaoTongHopListView
@{
    var pagesize = Model.PageSize;
    var totalPageNumber = Model.TotalItem / pagesize;
    if (Model.TotalItem % pagesize != 0)
    {
        totalPageNumber = totalPageNumber + 1;
    }
}
<input type="hidden" id="txtTotal" value="@Model.TotalItem" />
<input type="hidden" id="txtPageNumber" value="@Model.PageNumber" />
@if (Model != null && Model.LstResultDataHieuNangNhomThietBi != null && Model.LstResultDataHieuNangNhomThietBi.Count() > 0)
{
    @*<input type="hidden" id="txtChuaXuLy" value="@Model.TongChuaXuLy" />
        <input type="hidden" id="txtDaXuLy" value="@Model.TongDaXuLy" />*@
    <input type="hidden" id="txtGroupName" value="@Model.LstGroup" />
    var index = Model.PageSize.Value * (Model.PageNumber.Value - 1);
    foreach (var item in Model.LstResultDataHieuNangNhomThietBi)
    {
        index++;
        <tr>
            <td>@index</td>
            <td class="tal">@item.groupname</td>
            @if (Model.GroupBy.Equals("host"))
            {
                <td class="tal">@item.name</td>
                <td class="tal">@item.ip</td>
            }
            <td class="tal">@item.itemname</td>
            <td class="tal">@item.timelabel</td>
            <td class="tal text-center">@item.minval</td>
            <td class="tal text-center">@item.avgval</td>
            <td class="tal text-center">@item.maxval</td>
            <td class="tal text-center">
                @if (item.HieuNang != null)
            { <a style='@(item.HieuNang.Contains("(+)") ? "color: green;" : "color: red;")'>@item.HieuNang <span><i class='@(item.HieuNang.Contains("(+)") ? "fas fa-arrow-alt-up" : item.HieuNang.Contains("(-)") ? "fas fa-arrow-alt-down" : "")'></i></span></a>}
        </td>
    </tr>
    }

}
@if (Model != null && Model.LstResultDataHieuNangNhomThietBi == null || Model.LstResultDataHieuNangNhomThietBi.Count == 0)
{
    <tr>
        <td colspan="11" class="text-center c-red-500"><b>Dữ liệu không tồn tại</b></td>
    </tr>
}
else
{
    <tr class="pagination-ys" align="left">
        <td colspan="13">
            <div class="row col-md-12 p-0 m-0">
                <div class="col-md-6">
                    @Html.PagedListPager((PagedList.IPagedList<int>)ViewBag.PagedList, pnum => Url.Action("HieuNangNhomDetail", "BaoCao", new
               {
                   ColumnName = Model.ColumnName,
                   OrderBy = Model.OrderBy,
                   PageNumber = pnum,
                   PageSize = Model.PageSize,
                   GroupBy = Model.GroupBy,
                   GroupTime = Model.GroupTime,
                   KeyType = Model.KeyType,
                   TuNgay = Model.TuNgay,
                   DenNgay = Model.DenNgay,
                   LstGroup = Model.LstGroup
               }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.MinimalWithPageCountText, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "tbKetQua", OnComplete = "loadPaging();" }))
                </div>
                <div class="col-md-6 text-right pt-2">
                    Hiển thị: @Html.DropDownListFor(m => m.PageSize, new List<SelectListItem>() {
                        new SelectListItem() { Value = "10", Text = "10"},
                         new SelectListItem() { Value = "20", Text = "20", Selected=true},
                         new SelectListItem() { Value = "50", Text = "50"},
                         new SelectListItem() { Value = "100", Text = "100"}
                     }, new { @id = "changePageSize", @class = "custext w-60", @onchange = "loadData('', '');" }) kết quả trên 1 trang / @Model.TotalItem bản ghi
                </div>
            </div>
        </td>
    </tr>
}