@model TKM.BLL.CoQuanBanHanhVanBanViewModel

@{
    ViewBag.Title = "Cập nhật hình thức văn bản";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb bgc-white p-0">
        <li class="breadcrumb-item"><a href="/Home/Index"><span class="icon-holder"><i class="fa fa-home"></i></span></a></li>
        <li class="breadcrumb-item"><a href="/CoQuanBanHanhVanBan/Index"><span class="icon-holder"><i class=""></i></span>Quản lý đối tưởng gửi văn bản đi</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>
<h4 class="title c-grey-900 mB-20 pB-10">@ViewBag.Title</h4>
<div class="masonry-item col-md-12">
    <!-- ./Information of page info success warning danger-->
    @if (TempData["AlertData"] != null)
    {
        <div class="alert @TempData["AlertType"]">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <div>@Html.Raw(@TempData["AlertData"])</div>
            <a id="lblMessage"></a>
        </div>
    }
    <div class="mT-30 bd">
        @using (Html.BeginForm("Update", "CoQuanBanHanhVanBan", null, FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
            {
            @Html.AntiForgeryToken()
            <div class="form-group row">
                <label for="inputHoTen" class="col-sm-2 col-form-label text-right">Tên cơ quan <span class="c-red-500">(*)</span></label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.TenCoQuanBanHanh, new { @id = "txtTenCoQuan", @class = "form-control", @placeholder = "Nhập tên cơ quan" })
                    @Html.ValidationMessageFor(model => model.TenCoQuanBanHanh, "", new { @class = "alert-danger" })
                </div>
                 <label for="inputHoTen" class="col-sm-2 col-form-label text-right">Thứ tự <span class="c-red-500">(*)</span></label>
                    <div class="col-sm-4">
                         @Html.TextBoxFor(model => model.ThuTuStr, new { @id = "txtMaCoQuan", @class = "form-control", @placeholder = "Nhập thứ tự" })
                         @Html.ValidationMessageFor(model => model.ThuTuStr, "", new { @class = "alert-danger" })
                     </div>
            </div>

            <div class="form-group row">
                <label for="chkTrangThai" class="col-sm-2 text-right">Trạng thái</label>
                <div class="col-sm-4">
                    <div class="form-check">
                        <label class="form-check-label">
                            @Html.CheckBoxFor(m => m.CheckTrangThai, new { @id = "chkTrangThai", @class = "form-check-input", @checked = "true" }) Có Sử dụng
                        </label>
                    </div>
                </div>
                <div class="text-right col-sm-12">
                    <button type="submit" class="btn btn-primary">Lưu</button>
                    <a class="btn cur-p btn-light" href="/CoQuanBanHanhVanBan/Index">Hủy bỏ</a>
                </div>
            </div>
        }
    </div>
</div>

@section Script {
    <script>
        $(function () {
            $("#frmMain").submit(function (event) {
                if (!check_AlphaNumber(!check_AlphaNumber(this.TenDoiTuong) || !check_AlphaNumber(this.GhiChu)) {
                    event.preventDefault();
                    return
                }
            });
        });
    </script>
}
