@using PagedList.Mvc;
@using TKM.DAO.EntityFramework

@model TKM.BLL.NguoiDungListView
@{
    ViewBag.Title = "Danh sách người dùng";
    //var lstChucVu = (List<TKM.BLL.DmChucVuViewModel>)ViewBag.lstChucVu;
}
@section Css {
    <style></style>
}
<div class="row">
    <div class="col right-content">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 fwb">
                        <li class="breadcrumb-item"><a href="/Home"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="/NguoiDung/Index">@ViewBag.Title</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        @if (TempData["AlertData"] != null)
            {
            <div class="alert @TempData["AlertType"]">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>@Html.Raw(TempData["AlertData"])</strong>
                <a id="lblMessage"></a>
            </div>
        }
        <div class="row">
            <div class="col">
                <!-- Classic tabs -->
                <div class="classic-tabs tabs-f-cl mx-2">
                    <div class="tab-content py-0 card" id="myClassicTabContentShadow">
                        <div class="tab-pane fade active show" id="vb-lt-den" role="tabpanel" aria-labelledby="profile-tab-classic-shadow">
                            <div class="row lighten-4 border border-light border-top-0 border-right-0 border-left-0">
                                <div class="col p-3">
                                    <div class="d-none d-lg-inline-flex form-inline my-0 px-lg-3 border-right">
                                        @Html.TextBoxFor(model => model.TuKhoa, new { @class = "form-control keyenterTuKhoa", @id = "txtTuKhoa", @placeholder = "Nhập từ khóa cần tìm ...", @style = "min-width: 31rem" })
                                        <button id="btnSearchTuKhoa" class="btn text-white default-color rounded-pill px-3 btn-sm my-0 waves-effect waves-light" type="button">Tìm</button>
                                    </div>
                                    <button class="btn btn-sm btn-warning text-white ml-3 rounded-pill" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                        Tìm kiếm nâng cao
                                    </button>
                                    <!-- Chức năng thêm và xóa -->
                                    <div class="float-right">
                                        <a href="/NguoiDung/Add" class="btn-floating btn-sm btn-primary mx-1" data-toggle="tooltip" title="Thêm mới" data-original-title="Thêm mới"><i class="fal fa-plus"></i></a>
                                    </div>
                                    <div style="clear:both;"></div>
                                    <!-- Collapsible element -->
                                    <div class="collapse" id="collapseExample">

                                        <div class="form-group row mb-0">
                                            <label for="txtHoVaTen" class="col-sm-2 col-form-label" style="padding-left:33px">Họ và tên</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.HoVaTen, new { @class = "form-control keyenter", @id = "txtHoVaTen" })
                                            </div>
                                            <label for="srTrangThai" class="col-sm-2 col-form-label">Trạng thái</label>
                                            <div class="col-sm-4">
                                                <select class="mdb-select md-form md-outline colorful-select dropdown-primary m-0 p-0" id="srTrangThai" searchable="Nhập từ khóa..">
                                                    <option value="">--- Trạng thái ---</option>
                                                    <option value="1">Có sử dụng</option>
                                                    <option value="0">Không sử dụng</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col text-center text-lg-right">
                                            <button id="btnSearch" class="btn text-white f-bg1" type="button">Tìm kiếm</button>
                                        </div>
                                    </div>
                                    <!-- / Collapsible element -->
                                </div>
                            </div>
                            <!-- table -->
                            @*<div class="row">
                                <div class="col-md-12">
                                    <a href="javascript://" onclick="InBrowserNguoiDung()" class="btn-floating btn-sm btn-info mx-1" data-toggle="tooltip" title="In Browser" data-original-title="In Browser"><i class="fal fa-print"></i></a>
                                    <a href="/NguoiDung/ExportWord" class="btn-floating btn-sm btn-primary mx-1" data-toggle="tooltip" data-original-title="Xuất Word" title="Xuất Word"><i class="fal fa-file-word"></i></a>
                                    <a href="/NguoiDung/ExportExcel" class="btn-floating btn-sm btn-success mx-1" data-toggle="tooltip" title="Xuất Excel" data-original-title="Xuất Excel"><i class="fal fa-file-excel"></i></a>
                                  </div>
                            </div>*@
                            <div class="row mt-3" id="table-print">
                                <div class="col-12">
                                    <div class="table-responsive-sm">
                                        <table id="dt-vblt-den" class="table table-hover table-bordered" cellspacing="0" width="100%">
                                            <thead class="indigo text-white lighten-1">
                                                <tr>
                                                    <th>STT</th>
                                                    <th class="pointer" data-colname="TenDangNhap" data-orderby="asc">Tên đăng nhập <span class="dn-browser"><i class="fas fa-sort"></i></span></th>
                                                    <th class="pointer" data-colname="HoVaTen" data-orderby="asc">Họ tên <span class="dn-browser"><i class="fas fa-sort"></i></span></th>
                                                    <th class="dn-browser">Ảnh đại diện</th>
                                                    <th>Email</th>
                                                    <th class="pointer" data-colname="NhomQuyenID" data-orderby="asc">Nhóm quyền <span class="dn-browser"><i class="fas fa-sort"></i></span></th>
                                                    <th>Trạng thái</th>
                                                    <th class="th-sm t_action dn-browser" style="width:180px">Chức năng</th>
                                                    @*
            <th class="t_action">Phân quyền</th>*@
                                                </tr>
                                            </thead>
                                            <tbody id="tbKetQua">
                                                @{ Html.RenderAction("IndexDetail", Model); }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
  

@section Script {
<script src="~/Assets/js/print.js"></script>
    <script>
        $(document).ready(function () {
            InitClickCheckAllInTable("chkall", function (res) {
                $("#hdfID").val(res);
            });
        });
        
        function onChangeStatus(id) {
            swal({
                title: "Thay đổi trạng thái?",
                text: "Trạng thái sẽ được thay đổi, hãy nhấn OK!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: '/NguoiDung/onChangeStatus',
                        data: { id: id },
                        dataType: "html",
                        success: function (res) {
                            res = JSON.parse(res);
                            if (res.isSuccess)
                                swal("Thay đổi trạng thái thành công!", {
                                    icon: "success",
                                });
                            else
                                swal("Có lỗi xảy ra", { icon: "error", });
                            loadData("", "");
                        },
                        error: function (response) {
                            swal("Đã có lỗi xảy ra", { icon: "error", });
                        }
                    });

                }
            });
        }
        function loadfrmView(id) {
            modal.Render("/NguoiDung/Detail/" + id, "Thông tin người dùng", "modal-lg");
        }
        function onSignOutUser(id) {
            swal({
                title: "Đăng xuất tài khoản?",
                text: "Bạn có chắc chắn muốn đăng xuất tài khoản này khỏi hệ thống này?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
              .then((willDelete) => {
                  if (willDelete) {
                      $.ajax({
                          type: "POST",
                          url: '/NguoiDung/SignOutUser',
                          data: { id: id },
                          dataType: "html",
                          success: function (res) {
                              res = JSON.parse(res);
                              if (res.isSuccess == 1)
                                  swal(res.message, {
                                      icon: "success",
                                  });
                              else
                                  swal(res.message, { icon: "error", });
                              loadData("", "");
                          },
                          error: function (response) {
                              swal("Đã có lỗi xảy ra khi đăng xuất tài khoản", { icon: "error", });
                          }
                      });

                  }
              });
        }
        function onResetPasswordUser(id) {
            swal({
                title: "Reset mật khẩu?",
                text: "Bạn có chắc chắn muốn reset mật khẩu tài khoản này?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
              .then((willDelete) => {
                  if (willDelete) {
                      $.ajax({
                          type: "POST",
                          url: '/NguoiDung/ResetPasswordUser',
                          data: { id: id },
                          dataType: "html",
                          success: function (res) {
                              res = JSON.parse(res);
                              if (res.isSuccess == 1)
                                  swal(res.message, {
                                      icon: "success",
                                  });
                              else
                                  swal(res.message, { icon: "error", });
                              loadData("", "");
                          },
                          error: function (response) {
                              swal("Đã có lỗi xảy ra khi reset mật khẩu tài khoản", { icon: "error", });
                          }
                      });

                  }
              });
        }
        function onDelete(id) {
            swal({
                title: "Xóa?",
                text: "Bạn có chắc chăn muốn xóa người dùng này?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
              .then((willDelete) => {
                  if (willDelete) {
                      $.ajax({
                          type: "POST",
                          url: '/NguoiDung/Delete',
                          data: { id: id },
                          dataType: "html",
                          success: function (res) {
                              res = JSON.parse(res);
                              if (res.isSuccess == 1)
                                  swal("Xóa người dùng này thành công!", {
                                      icon: "success",
                                  });
                              else
                                  swal("Đã có lỗi xảy ra", { icon: "error", });
                              loadData("", "");
                          },
                          error: function (response) {
                              swal("Đã có lỗi xảy ra", { icon: "error", });
                          }
                      });

                  }
              });
        }
        function onDeleteMul() {


            if ($("table tbody").find("input[type=checkbox]:checked").length == 0) {
                swal("Bạn cần chọn ít nhất 1 danh mục cần xóa", { icon: "error", });
            } else {
                swal({
                    title: "Xóa?",
                    text: "Bạn có chắc chăn muốn xóa những người dùng này?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
             .then((willDelete) => {
                 if (willDelete) {
                     $.ajax({
                         type: "POST",
                         url: '/NguoiDung/DeleteMul',
                         data: { lstid: $("#hdfID").val() },
                         dataType: "html",
                         success: function (res) {
                             res = JSON.parse(res);
                             if (res.isSuccess)
                                 swal("Xóa thành công!", {
                                     icon: "success",
                                 });
                             else
                                 swal("Có lỗi xảy ra", {
                                     icon: "error",
                                 });
                             loadData("", "");
                         },
                         error: function (response) {
                             swal("Đã có lỗi xảy ra", { icon: "error", });
                         }
                     });

                 }
             });
            }
        }
        $(".keyenter").on("keypress", function (e) {
            if (e.which == 13) {
                $("#btnSearch").click();
            }
        });
        $(".keyenterTuKhoa").on("keypress", function (e) {
            if (e.which == 13) {
                $("#btnSearchTuKhoa").click();
            }
        });
        function setDeleteId(id) {
            $("#delModalId").val(id);
        };

        $("#btnDel").on("click", function () {
            $.ajax({
                type: "POST",
                url: '/NguoiDung/DeleteNguoiDung',
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ id: $("#delModalId").val() }),
                cache: false,
                success: function (data) {
                    location.reload();
                },
                error: function (xhr) {
                    alert('Không thành công!');
                }
            });
            $(window).scrollTop(0);
        });
        //Thêm event xử lý load ajax
        $("#btnSearchTuKhoa").click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("IndexDetail", "NguoiDung")',
                data: { TuKhoa: $("#txtTuKhoa").val(), HoVaTen: $("#txtHoVaTen").val(), ChucVuID: $("#ddlChucVuID").val(), DonViID: $("#ddlDonVi").val(), srTrangThai: $("#srTrangThai").val(), ColumnName: '', OrderBy: '', PageNumber: 1, PageSize: $("#changePageSize").val() },
                dataType: "html",
                success: function (response) {
                    $("#tbKetQua").html(response);
                    loadPaging();
                },
                error: function (response) {
                    swal("Đã có lỗi xảy ra", { icon: "error", });
                }
            });
        });
        $("#btnSearch").click(function () {
            loadData("", "");
        });

        $("table th").click(function () {
            var col = $(this).data("colname");
            var orderby = $(this).data("orderby");
            if (col != "" && orderby != null) {
                loadData(col, orderby);
                if (orderby == "desc") orderby = "asc";
                else orderby = "desc";
                $(this).data("orderby", orderby);
            }
        });

        function loadData(col, order, pnum, psize) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("IndexDetail", "NguoiDung")',
                data: { TuKhoa: $("#txtTuKhoa").val(), HoVaTen: $("#txtHoVaTen").val(), ChucVuID: $("#ddlChucVuID").val(), DonViID: $("#ddlDonVi").val(), srTrangThai: $("#srTrangThai").val(), ColumnName: col, OrderBy: order, PageNumber: pnum, PageSize: $("#changePageSize").val() },
                dataType: "html",
                success: function (response) {
                    $("#tbKetQua").html(response);
                    loadPaging();
                },
                error: function (response) {
                    swal("Đã có lỗi xảy ra", {icon: "error",});
                }
            });
        }
        function loadPaging() {
            var total = Math.ceil($("#txtTotal").val() / $("#changePageSize").val());
            var pnum = $("#txtPageNumber").val();
            $(".PagedList-pageCountAndLocation").removeClass("disabled");
            $(".PagedList-pageCountAndLocation").html("<a style=\"padding: 5px\"> Trang <input type=\"text\" id=\"pageNumber\" name=\"PageNunber\" value=\"" + pnum + "\" min=\"0\" style=\"width: 40px;\" onchange=\"onChangePageNunber($(this).val()," + total + ")\"> / " + total + "</a>");
        }

        //Nhảy trang
        function onChangePageNunber(pagenumber, totalpagesize) {
            
            var reg = /^[0-9]+$/;
            if (pagenumber.match(reg)) {
                if (pagenumber <= 0) {
                    swal("Giá trị của trang phải lớn hơn 0!", { icon: "error", });
                }
                else if (pagenumber > totalpagesize) {
                    swal("Bạn đã nhập quá số trang hiện có!", { icon: "error", });
                }
                else {
                    loadData("", "", pagenumber);
                }
            } else {
                swal("Bạn đã nhập sai định dạng số", { icon: "error", });
            }

        }
    </script>
}
