@using PagedList.Mvc;
@model TKM.BLL.VanBanDiListView
@{
    ViewBag.Title = "Danh sách văn bản đi chờ vào sổ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/css/jquery-ui.css" rel="Stylesheet" type="text/css" />
<script type="text/javascript" src="~/Assets/js/jquery-ui.min.js"></script>
<div class="row">
    <div class="col right-content">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 fwb">
                        <li class="breadcrumb-item"><a href="/Home"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="/VanBanDi">@ViewBag.Title</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- Classic tabs -->
                <div class="classic-tabs tabs-f-cl mx-2">
                    <div class="tab-content py-0 card" id="myClassicTabContentShadow">
                        <div class="tab-pane fade active show" id="vb-lt-di" role="tabpanel" aria-labelledby="profile-tab-classic-shadow">

                            <div class="row mt-2">
                                <div class="col-md-9 fwb">
                                    Tìm kiếm văn bản
                                </div>
                                <div class="col-md-3 text-right">
                                    <a class="btn-floating btn-sm btn-warning mx-1" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" title="Tìm kiếm" data-original-title="Tìm kiếm">
                                        <i class="fal fa-search"></i>
                                    </a>

                                </div>
                            </div>
                            <div class="row bg-white mx-0">
                                <div class="col-12 col-lg-12 row">
                                    <label for="txtTuKhoa" class="col-lg-2 col-form-label">Từ khóa</label>
                                    <div class="col-lg-4">
                                        @Html.TextBoxFor(model => model.TuKhoa, new { @class = "form-control keyenter", @id = "txtTuKhoa" })
                                    </div>
                                    <label for="ddlPhamViTimKiem" class="col-sm-2 col-form-label">Phạm vi tìm kiếm</label>
                                    <div class="col-sm-4">
                                        <div>
                                            <select class="mdb-select md-form md-outline colorful-select dropdown-primary m-0 p-0" multiple id="ddlPhamViTimKiem" name="PhamViTimKiem" searchable="Nhập từ khóa..">
                                                <option value="trichyeu" selected>Trích yếu</option>
                                                <option value="sokyhieu" selected>Số ký hiệu</option>
                                                <option value="ghichu" selected>Ghi chú</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse" id="collapseExample">
                                <div class="row bg-white mx-0">
                                    <div class="col-12 col-lg-12 row">
                                        <label for="DonViSoanThaoID" class="col-lg-2 col-form-label">Đơn vị soạn thảo</label>
                                        <div class="col-lg-4">
                                            @Html.DropDownListFor(model => model.DonViSoanThaoID, new SelectList(Model.lstDonViSoanThao.Where(g => g.ID != 0 && g.ID == SessionInfo.CurrentUser.DonViID), "ID", "TenVaKyHieu"), "-- Chọn đơn vị soạn thảo --", new { @class = "mdb-select md-form md-outline colorful-select dropdown-primary m-0 p-0", @id = "DonViSoanThaoID" , @searchable = "Nhập từ khóa.." })
                                        </div>
                                        <label for="CanBoSoanThaoID" class="col-lg-2 col-form-label">Cán bộ soạn thảo</label>
                                        <div class="col-lg-4">
                                            @Html.DropDownListFor(model => model.CanBoSoanThaoID, new SelectList(Model.lstCanBoSoanThao.Where(g => g.ID != 0 && g.DonViID == SessionInfo.CurrentUser.DonViID), "ID", "HoVaTen"), "-- Chọn cán bộ soạn thảo --", new { @class = "mdb-select md-form md-outline colorful-select dropdown-primary m-0 p-0", @id = "CanBoSoanThaoID", @searchable = "Nhập từ khóa.." })
                                        </div>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col-12 col-lg-12 row">
                                        <label for="NguoiKyID" class="col-lg-2 col-form-label"> Người ký</label>
                                        <div class="col-lg-4">
                                            @Html.DropDownListFor(model => model.NguoiKyID, new SelectList(Model.lstCanBoSoanThao.Where(g => g.ID != 0 && g.IsLanhDao && g.DonViID == SessionInfo.CurrentUser.DonViID), "ID", "HoVaTen"), "-- Chọn người ký --", new { @class = "mdb-select md-form md-outline colorful-select dropdown-primary m-0 p-0", @id = "NguoiKyID",@searchable="Nhập từ khóa.." })
                                        </div>
                                        <label for="DonViNhanNoiBoID" class="col-lg-2 col-form-label"> Đơn vị nhận</label>
                                        <div class="col-lg-4">
                                            @Html.DropDownListFor(model => model.DonViNhanNoiBoID, new SelectList(Model.lstDonViSoanThao.Where(x => x.ID != 0), "ID", "TenVaKyHieu"), "-- Chọn đơn vị nhận -- ", new { @class = "mdb-select md-form md-outline colorful-select dropdown-primary m-0 p-0", @id = "DonViNhanNoiBoID", @searchable = "Nhập từ khóa.." })
                                        </div>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col-12 col-lg-12 row">
                                        <label for="DonViNhanLT" class="col-lg-2 col-form-label">Đơn vị nhận liên thông</label>
                                        <div class="col-lg-4">
                                            @Html.TextBoxFor(model => model.DonViNhanLT, new { @class = "form-control keyenter", @id = "txtBenGui" })
                                        </div>
                                        <input type="hidden" id="maDinhDanh" name="maDinhDanh" />
                                    </div>
                                    <div class="w-100"></div>
                                    <p class="fwb mb-0 pl-3">Ngày tạo</p>
                                    <div class="col-12 col-lg-12 row">
                                        <label for="txtTuNgayNVB" class="col-lg-2 col-form-label">Từ ngày</label>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="input-group date datepicker">
                                                    @Html.TextBoxFor(model => model.TuNgayNVB, new { @class = "form-control keyenter", @id = "txtTuNgayNVB" })
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-clock"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <label for="txtDenNgayNVB" class="col-lg-2 col-form-label">Đến ngày</label>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="input-group date datepicker">
                                                    @Html.TextBoxFor(model => model.DenNgayNVB, new { @class = "form-control keyenter", @id = "txtDenNgayNVB" })
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-clock"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="w-100"></div>
                                    <div class="col text-center text-lg-right mt-3">
                                        <button id="btnSearch" class="btn text-white f-bg1" type="button">Tìm kiếm</button>
                                    </div>
                                </div>
                                
                            </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive-sm">
                                        <table class="table table-hover table-bordered" cellspacing="0" width="100%">
                                            <thead class="bg-primary text-white lighten-3">
                                                <tr>

                                                    @*<th class="t_action th-sm">STT</th>*@
                                                    @* //Todo: Thêm colname + order by *@
                                                    <th class="th-sm pointer" data-colname="TrichYeu" data-orderby="asc">Trích yếu nội dung <span><i class="fas fa-sort"></i></span></th>
                                                    <th class="th-sm pointer">File VB</th>
                                                    <th class="th-sm pointer">Đơn vị soạn thảo</th>
                                                    <th class="th-sm pointer">Cán bộ soạn thảo</th>
                                                    <th class="th-sm pointer" data-colname="NoiNhan" data-orderby="asc">Nơi nhận<span><i class="fas fa-sort"></i></span></th>
                                                    <th class="th-sm pointer">Người ký</th>
                                                    <th class="th-sm pointer">Thao tác</th>
                                                    @*<th class="th-sm" style="width:50px">
                                        <input type="hidden" id="hdfID" />
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="chkall" name="checkbox">
                                            <label class="form-check-label" for="chkall"></label>
                                        </div>
                                    </th>*@
                                                </tr>
                                            </thead>
                                            <tbody id="tbKetQua">
                                                @{ Html.RenderAction("ChoVaoSoListData", Model); }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<style>
    .select2 {
        padding-top: 5px !important;
    }
</style>
@section Script {
    <script>
        $(document).ready(function () {
            InitClickCheckAllInTable("chkall", function (res) {
                $("#hdfID").val(res);
            });
            $('.select2').select2();
            //loadPaging();
            //search ma dinh danh
            $(function () {
                $("#txtBenGui").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '/VanBanDenLT/AutoComplete',
                            data: "{ 'prefix': '" + request.term + "'}",
                            dataType: "json",
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return item;
                                }))
                            },
                            error: function (response) {
                                alert(response.responseText);
                            },
                            failure: function (response) {
                                alert(response.responseText);
                            },
                            select: function (event, ui) {
                                var terms = split(this.value);
                                // remove the current input
                                terms.pop();
                                terms.push(ui.item.value);
                                terms.push("");
                                this.value = terms.join(" & ");
                                return false;
                            },
                        });
                    },
                    minLength: 0,
                    select: function (e, i) {
                        $("#maDinhDanh").val(i.item.val);
                    },
                    change: function (e, ui) {
                        if (ui.item === null) {
                            $("#maDinhDanh").val("");
                        }
                    },
                }).autocomplete("widget").addClass("mdb-autocomplete-wrap");
            });
        });

        function onChangeStatus(id) {
            swal({
                title: "Thay đổi trạng thái?",
                text: "Trạng thái sẽ được thay đổi, hãy nhấn OK!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: '/VanBanDi/onChangeStatus',
                        data: { id: id },
                        dataType: "html",
                        success: function (res) {
                            res = JSON.parse(res);
                            if (res.isSuccess)
                                swal("Thay đổi trạng thái thành công!", {
                                    icon: "success",
                                });
                            else
                                swal("Có lỗi xảy ra", {
                                    icon: "error",
                                });
                            loadData("", "");
                        },
                        error: function (response) {
                            swal("Đã có lỗi xảy ra", { icon: "error", });
                        }
                    });

                }
            });
        }
        function loadfrmView(id) {
            modal.Render("/VanBanDi/Detail/" + id, "Thông tin văn bản đến", "modal-lg");
        }
        function onDelete(id) {
            swal({
                title: "Xóa?",
                text: "Bạn có chắc chăn muốn xóa văn bản đến này?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
              .then((willDelete) => {
                  if (willDelete) {
                      $.ajax({
                          type: "POST",
                          url: '/VanBanDi/Delete',
                          data: { id: id },
                          dataType: "html",
                          success: function (res) {
                              res = JSON.parse(res);
                              if (res.isSuccess == 1)
                                  swal("Xóa văn bản đến thành công!", {
                                      icon: "success",
                                  });
                              else
                                  swal("Đã có lỗi xảy ra", { icon: "error", });
                              loadData("", "");
                          },
                          error: function (response) {
                              swal("Đã có lỗi xảy ra", { icon: "error", });
                          }
                      });

                  }
              });
        }
        function onDeleteMul() {
            if ($("table tbody").find("input[type=checkbox]:checked").length == 0) {
                swal("Bạn cần chọn ít nhất 1 danh mục cần xóa", { icon: "error", });
            } else {
                swal({
                    title: "Xóa?",
                    text: "Bạn có chắc chăn muốn xóa những văn bản đến này?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
             .then((willDelete) => {
                 if (willDelete) {
                     $.ajax({
                         type: "POST",
                         url: '/VanBanDi/DeleteMul',
                         data: { lstid: $("#hdfID").val() },
                         dataType: "html",
                         success: function (res) {
                             res = JSON.parse(res);
                             if (res.isSuccess)
                                 swal("Xóa thành công!", {
                                     icon: "success",
                                 });
                             else
                                 swal("Có lỗi xảy ra", {
                                     icon: "error",
                                 });
                             loadData("", "");
                         },
                         error: function (response) {
                             swal("Đã có lỗi xảy ra", { icon: "error", });
                         }
                     });

                 }
             });
            }
        }
        $(".keyenter").on("keypress", function (e) {
            if (e.which == 13) {
                $("#btnSearch").click();
            }
        });
        function setDeleteId(id) {
            $("#delModalId").val(id);
        };

        //Thêm event xử lý load ajax
        $("#btnSearch").click(function () {
            loadData("", "");
        });

        $("table th").click(function () {
            var col = $(this).data("colname");
            var orderby = $(this).data("orderby");
            if (col != "" && orderby != null) {
                loadData(col, orderby);
                if (orderby == "desc") orderby = "asc";
                else orderby = "desc";
                $(this).data("orderby", orderby);
            }
        });

        function loadData(col, order, pnum, psize) {
            $("#loading").show();
            $.ajax({
                type: "GET",
                url: '@Url.Action("ChoVaoSoListData", "VanBanDi")',
                data: { TuKhoa: $("#txtTuKhoa").val(), PhamViTimKiem: $("#ddlPhamViTimKiem").val().toString(), DonViSoanThaoID: $("#DonViSoanThaoID").val(), CanBoSoanThaoID: $("#CanBoSoanThaoID").val(), NguoiKyID: $("#NguoiKyID").val(), DonViNhanNoiBoID: $("#DonViNhanNoiBoID").val(), DonViNhanLT: $("#txtBenGui").val(), TuNgayNVB: $("#txtTuNgayNVB").val(), DenNgayNVB: $("#txtDenNgayNVB").val(), ColumnName: col, OrderBy: order, PageNumber: pnum, PageSize: $("#changePageSize").val(), tab: $("#tab").val() },
                dataType: "html",
                success: function (response) {
                    $("#tbKetQua").html(response);
                    loadPaging();
                    $("#loading").hide();
                },
                error: function (response) {
                    swal("Đã có lỗi xảy ra", { icon: "error", });
                    $("#loading").hide();
                }
            });
        }
        function loadPaging() {
            var total = Math.ceil($("#txtTotal").val() / $("#changePageSize").val());
            var pnum = $("#txtPageNumber").val();
            $(".PagedList-pageCountAndLocation").removeClass("disabled");
            $(".PagedList-pageCountAndLocation").html("<a style=\"padding: 5px\"> Trang <input type=\"text\" id=\"pageNumber\" name=\"PageNunber\" value=\"" + pnum + "\" min=\"0\" style=\"width: 40px;\" onchange=\"onChangePageNunber($(this).val()," + total + ")\"> / " + total + "</a>");
        }

        //Nhảy trang
        function onChangePageNunber(pagenumber, totalpagesize) {

            var reg = /^[0-9]+$/;
            if (pagenumber.match(reg)) {
                if (pagenumber <= 0) {
                    swal("Giá trị của trang phải lớn hơn 0!", { icon: "error", });
                }
                else if (pagenumber > totalpagesize) {
                    swal("Bạn đã nhập quá số trang hiện có!", { icon: "error", });
                }
                else {
                    loadData("", "", pagenumber);
                }
            } else {
                swal("Bạn đã nhập sai định dạng số", { icon: "error", });
            }
        }
        //Popup co quan lien thong
        function onPopupAddCoQuanLT() {
            var arrCheckedID = [];
            $("#LstDonViNhanLT").find("option").each(function () {
                arrCheckedID.push($(this).val());
            })
            arrCheckedID.splice($.inArray("", arrCheckedID), 1);
            modal.Render('/VanBanDi/PopupChonCoQuanLT?lstMaDinhDanh=' + arrCheckedID.toString() + '', 'Chọn đơn vị gửi', 'modal-lg');
        }
    </script>
}