@using TKM.BLL
@model TKM.BLL.DmDonViViewModel
@{
    ViewBag.Title = "";
    Layout = null;
    var lstDonVi = (List<DmDonViViewModel>)ViewBag.lstDonVi;
}
<script src="~/Scripts/jquery.validate.min.js"></script>
@*<link href="~/Assets/css/mdb.min.css" rel="stylesheet">*@
@using (Ajax.BeginForm("PopupAddCoQuanBanHanh", "VanBanDen", null, new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "onAddCoQuanBanHanhSuccess"
}, new {  @id = "fForm" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group row">
        <div class="col-sm-6">
            <div class="md-form">
                @Html.DropDownListFor(model => model.KhoaChaID, new SelectList(lstDonVi.Where(g=>g.ID != 0), "ID", "TenVaKyHieu"), "-- Trực thuộc đơn vị --", new { @class = "mdb-select mdb-select-cuscq", @id = "KhoaChaID" })

                @Html.ValidationMessageFor(model => model.KhoaChaID, "", new { @class = "alert-danger" })
            </div>
        </div>
        <div class="col-sm-6">
            <div class="md-form">
              @Html.TextBoxFor(model => model.TenDonVi, new { @class = "form-control ", @id = "TenVaKyHieu" })
            @Html.ValidationMessageFor(model => model.TenDonVi, "", new { @class = "alert-danger" })
            <label for="TenVaKyHieu">Tên đơn vị <span class="c-red-500">(*)</span></label>
            </div>
        </div>

    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <div class="md-form">
                @Html.TextBoxFor(model => model.KyHieu, new { @class = "form-control ", @id = "KyHieu" })
                @Html.ValidationMessageFor(model => model.KyHieu, "", new { @class = "alert-danger" })
                <label for="KyHieu">Ký hiệu</label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="md-form">
                @Html.TextBoxFor(model => model.MaDinhDanh, new { @class = "form-control ", @id = "MaDinhDanh" })
                <span class="c-grey-500">Mẫu: 000.00.20.G04</span>
                @Html.ValidationMessageFor(model => model.MaDinhDanh, "", new { @class = "alert-danger" })
                <label for="MaDinhDanh">Mã định danh đơn vị</label>
            </div>
        </div>
    </div>
    @*<div class="form-group row">
        <div class="col-sm-6">
            <div class="md-form">
                <div class="form-check form-check-inline px-3 my-3">
                    <input type="checkbox" class="form-check-input" id="TrangThai" name="TrangThai" value="true" checked>
                    <label class="form-check-label" for="TrangThai">Còn sử dụng</label>
                </div>
            </div>
        </div>
      
    </div>*@
    <div class="form-group row">
        <div class="text-right col-sm-12">
            <button type="submit" class="btn btn-primary">Lưu</button>
            <button type="button" class="btn btn-light" data-dismiss="modal">Hủy bỏ</button>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $('.mdb-select-cuscq').materialSelect();
    });
    $('#TenDonVi').on('keyup', function () {
        var name = $('#TenDonVi').val();
        var id = $('#ID').val();
        var isSuccess = true; // không trùng
        $.ajax({
            type: "GET",
            url: '/VanBanDen/CheckTrungTenDonVi',
            data: { id: id, name: name },
            dataType: "html",
            success: function (res) {
                res = JSON.parse(res);
                if (res.trungTen == true) {
                    isSuccess = false;
                    toastr.error('Tên đơn vị đã tồn tại!');
                }
            },
            error: function (response) {
                toastr.error('Đã có lỗi xảy ra');
            }
        });
        return isSuccess;
    });
    $('#MaDinhDanh').on('keyup', function () {
        var name = $('#MaDinhDanh').val();
        var id = $('#ID').val();
        var isSuccess = true; // không trùng
        $.ajax({
            type: "GET",
            url: '/VanBanDen/CheckTrungMaDinhDanh',
            data: { id: id, name: name },
            dataType: "html",
            success: function (res) {
                res = JSON.parse(res);
                if (res.trungMa == true) {
                    isSuccess = false;
                    toastr.error('Mã định danh đã tồn tại!');
                }
            },
            error: function (response) {
                toastr.error('Đã có lỗi xảy ra');
            }
        });
        return isSuccess;
    });
    $("#fForm").validate({
        rules: {
            TenDonVi: {
                required: true,
            },
            KyHieu: {
                maxlength: 50,
            },
            MaDinhDanh: {
                maxlength: 13,
            }
        },
        messages: {
            TenDonvi: {
                required: "Vui lòng nhập tên đơn vị!",
            },
            KyHieu: {
                maxlength: "Ký hiệu không vượt quá 50 ký tự!",
            },
            MaDinhDanh: {
                maxlength: "Mã định danh không vượt quá 13 ký tự!",
            },
        }
    });
    $('#fForm').on('submit', function () {
        $("#fForm").valid();
        var tendonvi = $('#TenDonVi').val();
        var madinhdanh = $('#MaDinhDanh').val();
        var id = 0;
        
        $.ajax({
            type: "GET",
            url: '/VanBanDen/CheckTrungTenDonVi',
            data: { id: id, name: tendonvi },
            dataType: "html",
            success: function (res) {
                res = JSON.parse(res);
                if (res.trungTen == true) {
                    toastr.error('Tên đơn vị đã tồn tại!');
                    return false;
                }
            },
            error: function (response) {
                toastr.error('Đã có lỗi xảy ra');
            }
        });
        $.ajax({
            type: "GET",
            url: '/VanBanDen/CheckTrungMaDinhDanh',
            data: { id: id, name: madinhdanh },
            dataType: "html",
            success: function (res) {
                res = JSON.parse(res);
                if (res.trungMa == true) {
                    toastr.error('Mã định danh đã tồn tại!');
                    return false;
                }
            },
            error: function (response) {
                toastr.error('Đã có lỗi xảy ra');
            }
        });
    })
</script>
